path.counties{
    stroke:black;
    stroke-width: 1;
    fill:none;
}

#mapCanvas{
    height:600px;
    width:60%;
    position:relative;
    left:0;
    top:10%;
    overflow:hidden;
    display: block;
    margin: auto;

}

#mapCanvasRegion {
    height: 600px;
    width: 60%;
    position: relative;
    left: 0;
    top: 10%;
    overflow: hidden;
    display: block;
    margin: auto;
}

circle.centroid{
    fill:red;
    pointer-events: none;

}

rect.bbox{
    fill:none;
    stroke-dasharray: 5 5;
    stroke: black;
    stroke-width: 2;
    pointer-events: none;

}

#navList li {
    display: inline;
    list-style-type: none;

}

.navBox{
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    position:relative;
    height: 50px;
    width:100px;
    display: inline-block;
    padding: 5px;
    text-align:center;
    background-color:#EDEDED;

}

.navBox:hover{
    border: solid 1px;
}

.chevron{
    display:inline-block;
    font-size: xx-large;
    cursor:pointer;
}

#navContainer{
    position:relative;
    display:block;
    margin:auto;
    width:40%;
}

.view-canvas{
    display:block;
    margin:auto;
    position:relative;
    width:30%;
}

table{
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

path.slice:hover{
    stroke:black;
    stroke-width: 2;
}

#title{
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    display:block;
    margin:auto;
    width:35%;
    position:relative;
}

.view.ng-enter{
    -webkit-animation: fadeIn 1.5s both ease-in;
    z-index:8888;
}

path.zones:hover{
    stroke:black;
    stroke-width:1;
}

.q0-9 { fill:#f7fbff; opacity: .5; }
.q1-9 { fill:#deebf7; opacity: .5;}
.q2-9 { fill:#c6dbef; opacity: .5;}
.q3-9 { fill:#9ecae1; opacity: .5;}
.q4-9 { fill:#6baed6; opacity: .5;}
.q5-9 { fill:#4292c6; opacity: .5;}
.q6-9 { fill:#2171b5; opacity: .5; }
.q7-9 { fill:#08519c; opacity: .5;}
.q8-9 { fill:#08306b; opacity: .5;}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

#year-label{
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}


