<div id="svgCanvas"></div>
<div class="view-canvas" style="width:30%">
    <table>
        <tr>
            <td>
                <label> Adams County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.adams"/>
            </td>
            <td>
                <label> Arapahoe County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.arapahoe"/>
            </td>
        </tr>
        <tr>
            <td>
                <label> Boulder County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.boulder"/>
            </td>
            <td>
                <label> Broomfield County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.broomfield"/>
            </td>
        </tr>
        <tr>
            <td>
                <label> Clear Creek County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.cc"/>
            </td>
            <td>
                <label> Denver County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.denver"/>
            </td>
        </tr>
        <tr>
            <td>
                <label> Douglas County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.douglas"/>
            </td>
            <td>
                <label> Gilpin County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.gilpin"/>
            </td>
        </tr>
        <tr>
            <td>
                <label> Jefferson County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.jefferson"/>
            </td>
            <td>
                <label> Weld County:</label>
            </td>
            <td>
                <input type="checkbox" ng-model="countyChecked.weld"/>
            </td>
        </tr>




    </table>
</div>